.section__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.hero__section {
	position: relative;
	margin-bottom: 100px;
	overflow: hidden;
	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}
}

.hero__background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	background-image: url('@/assets/rocket.gif');
	background-size: 260%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

.hero__wrapper {
	border-width: 1px;
	border-style: solid;
	border-color: getColor('border-color');
	border-radius: 40px;
	padding: 0 32px 45px;
}

.hero__title {
	max-width: 600px;
	font-weight: 700;
	font-size: 100px;
	line-height: 1.2;
	text-align: start;
	text-transform: uppercase;
	margin-bottom: 97px;
	margin-top: 49px;
}

.hero__decorations {
	display: flex;
	align-items: center;
	gap: 32px;
}

.hero__planetIcon {
	width: 40px;
	height: 40px;
}

.hero__line {
	height: 6px;
	width: 100%;
	background: linear-gradient(
		to right,
		getColor('primary-text-color'),
		getColor('primary-bg-color')
	);
}

.rocketcards__section {
	margin-bottom: 100px;
}
// Statistic

.statistic__section {
	margin-bottom: 100px;
}

.statistic__list {
	text-align: start;
	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}
}

.statistic__listItem {
	display: flex;
	flex-direction: column;
	text-align: start;
	&:not(:last-child) {
		margin-bottom: 32px;
	}

	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
}

.statistic__value {
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 32px;
}

.statistic__description {
	font-size: 32px;
	line-height: 1.2;
}
