/* .swiper {
	width: 100%;	
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.rocketlist-button-next,
.rocketlist-button-prev {
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
	padding: 8px 16px;
	content: '';
	cursor: pointer;
}

.rocketlist-button-next::after,
.rocketlist-button-prev::after {
	content: '';
}

.rocketlist-button-next.swiper-button-disabled,
.rocketlist-button-prev.swiper-button-disabled {
	opacity: 0.3;
	cursor: auto;
}

.rocketlist-button-prev,
.rocketlist-button-next,
.rocketlist-pagination {
	top: unset !important;
	left: unset !important;
	bottom: unset !important;
	width: auto !important;
	right: unset !important;
	position: unset !important;
}

.button-Atrrangment {
	position: absolute;
	bottom: 0;
}

.rocket-swiper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 300px;
	padding: 23px;
}

.swiper-pagination-bullet {
	background-color: white !important;
	height: 16px !important;
	width: 16px !important;
}

.swiper-horizontal
	> .swiper-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-right: 12px !important;
}
