.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0px;
}

.menu {
	display: flex;
	align-items: centner;
	justify-content: space-between;
	gap: 48px;
}

.menu__item {
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: border $transition-duration $timing-function;

	&:hover {
		content: ' ';
		border-bottom: 2px solid getColor('primary-text-color');
	}
}

.header__authNav {
	display: flex;
	align-items: center;
	gap: 15px;
}
