body {
	background-color: getColor('primary-bg-color');
	color: getColor('primary-text-color');
	font-family: 'Rubik', sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 16px;

	@media (min-width: $tablet) {
		padding: 0 60px;
	}
}
