.parallax__section {
	position: relative;
	overflow: hidden;
}

.parallax__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	text-align: start;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.parallax__text {
	line-height: 1.7;
}
