.hero-slide {
	height: 850px !important;
	padding: 32px 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
}

.parallax-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}
.parallax-bg img {
	max-width: none;
}

.hero-slide .content {
	position: relative;
	z-index: 2;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* align-items: flex-end; */
	text-align: start;
	max-width: 450px;
	padding-bottom: 126px;
}

.swiper-button-next,
.swiper-button-prev {
	background-position: bottom;
	background-size: 40px;
	background-repeat: no-repeat;
	padding: 8px 16px;
	content: '';

	position: absolute;

	top: unset !important;

	z-index: 100;
}

.swiper-button-prev {
	background-image: url('src/assets/Arrow.svg');
	transform: translateY(25%);
	left: 60px !important;
}

.swiper-button-next {
	background-image: url('src/assets/Arrow.svg');
	transform: rotate(180deg) translateY(-25%);

	right: 60px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: '';
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
	bottom: 50px !important;
}

.button-Atrrangment {
	/* display: flex; */
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.button-swiper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 300px;
	width: 100%;
	padding: 23px;
}

.swiper-pagination-bullet {
	background-color: white;
	height: 16px;
	width: 16px;
	margin-right: 12px;
}

.swiper-horizontal
	> .swiper-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-right: 12px;
}
